@font-face {
  font-family: gt-a-b;
  src: url('@/assets/fonts/GT-AMERICA-STANDARD-BOLD-TRIAL.OTF');
}

@font-face {
  font-family: gt-a-r;
  src: url('@/assets/fonts/GT-AMERICA-STANDARD-REGULAR-TRIAL.OTF');
}
